<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:jndi="http://www.springframework.org/schema/jndi"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-2.0.xsd 
    http://www.springframework.org/schema/tx  
    http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/jndi 
    http://www.springframework.org/schema/jndi/spring-jndi.xsd 
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-2.0.xsd">


  <bean scope="singleton" id="I18nService" class="com.tangpeng.utils.I18nService">
  </bean>

  <!-- bean id="DataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
             <property name="jndiName" value="java:comp/env/jdbc/derby" />
    </bean
  <bean id="DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    <property name="driverClass" value="org.apache.derby.jdbc.ClientDriver"></property>
    <property name="jdbcUrl" value="jdbc:derby://127.0.0.1:1527/hjj;create=true"></property>
    <property name="user" value="app"></property>
    <property name="password" value="app"></property>
    <property name="acquireRetryDelay" value="1000"></property>
    <property name="acquireRetryAttempts" value="10"></property>
  </bean>-->


  <bean id="DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    <property name="driverClass" value="oracle.jdbc.driver.OracleDriver"></property>
    <property name="jdbcUrl" value="jdbc:oracle:thin:@ip:port:sid"></property>
    <property name="user" value="app"></property>
    <property name="password" value="app"></property>
    <property name="acquireRetryDelay" value="1000"></property>
    <property name="acquireRetryAttempts" value="10"></property>
  </bean>

</beans>
